<section>
    <!--MENU-->
    <div class = "menu-container">
        <div class = "left-panel">
            <img src= "../../assets/APLogo-20-20.png">
        </div>
        <menu class = "right-panel">
            <img src = '../../assets/SVG/linkedin.svg'>
            <img src = '../../assets/SVG/github-sign.svg'>
            <img src = '../../assets/SVG/email.svg'>
            <button>Login</button>
        </menu>
    </div>
    <!--HEADER-->
    <header>
        <div class = "header-info">
            <h2>Hola, yo soy</h2>
            <h1>David Alvado</h1>
            <p>FullStack Developer</p>
        </div>
    </header>
</section>